:root {
    --basic-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --main-icon-color: #AFB1B8;

    --background-footer-color: #2F303A;
    /* Font */
    --basic-font-family: 'Roboto', sans-serif;
    --minor-font-family: 'Raleway', sans-serif;
}