.footer-page {

    background-color: var(--background-footer-color);
    padding: 60px 0;

    &__container {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
           
            gap: 60px 185px;
        }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            gap: 0;
        }
    }
}



.logo--footer{
    display: flex;
    justify-content: center;
  
    
}

.footer__logo {

    color: #ffffff;
    text-decoration: none;

}

.footer-addres {

    text-align: center;

    &__link {
        color: #ffffff;
        display: block;
        margin-top: 20px;
        margin-bottom: 9px;

        font-style: normal;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.7;


        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

}

.contact-footer {

    &__link {
        color: rgba(255, 255, 255, 0.6);

        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }


}


.footer-page__social-block {

    margin-top: 5px;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        // margin-right: 93px;
    }


}

.footer-page__form{
    margin: 0 auto;
}

.footer__title {
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-top: 0;

    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

}