.form-label {
    position: relative;

    margin-bottom: 2px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
        display: block;
        color: var(--title-text-color);
        margin-bottom: 4px;
    }

    &:hover {
        color: #2196F3;
    }

    &:focus-within .icon-form {
        fill: var(--accent-color);
    }
}

.input-block {
    display: block;
    position: relative;
}




.form__title {

    color: var(--basic-color);
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.form__input {
    margin-bottom: 10px;
    padding: 12px 30px;
    width: 100%;
    height: 40px;

    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid var(--accent-color);

    }

    &:focus {

        border: 1px solid var(--accent-color);
    }
}



.form__textarea {
    resize: none;

    padding: 12px 16px;
    width: 100%;
    height: 120px;

    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid #2196F3;
    }

    &:focus {
        outline: transparent;
        border: 1px solid #2196F3;
    }
}


.form__checkbox-label {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 30px;

    color: var(--title-text-color);

    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.03em;

    & .link {
        color: var(--accent-color);
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
         @media screen and (min-width: 1200px) {
                font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;
         }
}


.checkbox-text{
    padding-left: 20px;
}