.header-page {
    border-bottom: 1px solid #ECECEC;
    display: flex;
  
}


.header__logo {
    color: #000000;
}

.header-container {
    display: flex;
    align-items: center;
   

    @media screen and (min-width: 768px) {
        justify-content: space-around;
        
    }

}

.logo--header {
    display: flex;
    
}