.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &__item {

        background-color: #FFFFFF;
        padding-bottom: 30px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: 768px) {
            flex-basis: calc((100%-2*30px)/2);
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100%-4*30px)/4);
        }

    }

    &__image {
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        margin-top: 0em;
        margin-bottom: 10px;
        text-align: center;
    }

    &__description {
        color: var(--title-text-color);

        font-size: 16px;
        line-height: 1.2;

        margin-top: 0;
        margin-bottom: 16px;
        text-align: center;
    }
}