.work {
padding-top: 0;
    @media screen and (max-width: 1199px) {
        display: none;
    }

    &-list {

        display: flex;
        gap: 30px;

        &__item {
            position: relative;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__downtitle {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(47, 48, 58, 0.8);
            width: 100%;

            padding: 27px 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.1428;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            color: #FFFFFF;
        }
    }
}