.icon {
    fill: currentColor;
}

.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-icon-color);
        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: #FFFFFF;
        background-color: #2196F3;
    }

    &__link--footer {
        color: #FFFFFF;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.form__icon {
    position: absolute;
    z-index: 50;
    top: 9px;
    left: 12px;
}