.logo {
  
    
    color: var(--accent-color);
    // margin-right: 93px;

    font-size: 26px;
    text-decoration: none;
    font-family: var(--minor-font-family);
    line-height: 1.2;
      
        @media screen and (min-width: 1200px) {
                margin-right: 93px;
            }
   
}


.mobile-nav{
   display: none;
}
