.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 48px 40px;

    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;


}

.menu-container.is-open {
    transform: translateX(0);

}

.mobile-nav {

    &__list {
        color: var(--basic-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;

        display: block;
        margin-bottom: 300px;

    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link--current {
        color: var(--accent-color);
    }
}

.mobile-contact {
    &__list {
        margin-bottom: 64px;
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }



}

.mobile-social {

    &__list {
        display: flex;


        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        letter-spacing: 0.02em;
    }

    &__link {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        letter-spacing: 0.02em;
        padding: 0 10px;


    }

    &__item:not(:last-child) {
        border-right: 1px solid black;
    }

}

.mobile-tel__link {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764;
    letter-spacing: 0.02em;


}

.mobile-mail__link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666;
    letter-spacing: 0.02em;

}