.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 48px 40px;

    z-index: 999;

    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .menu-container.is-open {
        transform: translateY(0);
        
    }

    .mobile-nav {

        &__list {
            color: var(--basic-color);
            font-weight: 500;
            font-size: 40px;
            line-height: 1.175;
            letter-spacing: 0.02em;

        }

        &__item:not(:last-child) {
            margin-bottom: 32px;
        }
    }