.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: relative;
    width: 450px;
    height: 609px;
    background-color: #FFFFFF;

    border-radius: 4px;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width: 1200px) {
           width: 528px;
           height: 581px;
        }

}

.backdrop.is-hidden .modal-window {
    transform: scale(1.3);
    transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}