.main-nav {

    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    align-items: center;


    &__list {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 767px) {
            margin-left: 88px;
            margin-right: 50px;
        }

    }

    &__link {
        position: relative;
        display: block;

        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--basic-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);

    }

    &__link--current {
        color: var(--accent-color);
    }

    &__link--current::after {
        position: absolute;
        content: "";
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}






.test{
    display: flex;
    justify-content: center;
    align-items: center;
    
}