body {
    background-color: #FFFFFF;
    color: var(--basic-color);

    font-family: var(--basic-font-family);
    letter-spacing: 0.03em;
}

img {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;

}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;
    color: var(--basic-color);
}